MYSQL_ROOT_PASSWORD=INSERT_STRONG_ROOT_PASSWORD_HERE
MYSQL_DATABASE=flashit_milkshakepub
MYSQL_USER=flashit
MYSQL_PASSWORD=INSERT_STRONG_PASSWORD_HERE

ADMIN_PASS_HASH=$$2y$$10$$ya8Nh4W85.IYW/qP4SP/VePWOVLdvReh/N.eZDHACKTdSijLVVCOy
BROADCAST_SECRET=INSERT_LONG_RANDOM_SECRET_HERE